# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
/build/app/
/build/kotlin/
/build/ios/
/build/package_info_plus/
/build/shared_preferences_android/
/build/6ac7e3556c178af6e3e303b5d6ac7d62/
/build/e432efbbbda59be1763a5259f44d2f6f/
/build/e48478c6b2baefb53d18242b61b0cd8f/
/build/flutter_assets/
/build/sqflite/
/build/nfc_manager/
/build/flutter_plugin_android_lifecycle/
/build/flutter_barcode_scanner/
/build/a1cd694c193bff1475337a5c640e7c62/
/build/permission_handler_android/


# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/build/17f84896788e1f3fe52c875e0782b01d/
/build/058da3547cf3b90fafce886fc49fc1fd.cache.dill.track.dill
/build/166e0478a0c604b85b0b362a0cfb10b2/_composite.stamp
/build/166e0478a0c604b85b0b362a0cfb10b2/gen_dart_plugin_registrant.stamp
/build/166e0478a0c604b85b0b362a0cfb10b2/gen_localizations.stamp
/build/a46f85df11ed3d278105635939097b84.cache.dill.track.dill
/build/a3503a36d5d5c40f241a697433ff9164/_composite.stamp
/build/a3503a36d5d5c40f241a697433ff9164/gen_dart_plugin_registrant.stamp
/build/a3503a36d5d5c40f241a697433ff9164/gen_localizations.stamp
/build/4e5d94a1589c5e88e89460b18f782542.cache.dill.track.dill
/build/acbb74a17359c4baf5e44665fa7e1a8c/_composite.stamp
/build/acbb74a17359c4baf5e44665fa7e1a8c/gen_dart_plugin_registrant.stamp
/build/acbb74a17359c4baf5e44665fa7e1a8c/gen_localizations.stamp
/build/6e6b85fcb6a74d4044f5a4186ca56e0e.cache.dill.track.dill
